*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #292323;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    margin: auto;
    background-color: #8c1e29;
    justify-content: space-between;
    padding: 0.8rem;
    }
.linki{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: inherit;
    color:none;
}